.footer-content{
    width: 100%;
    background-color: #ffff;
    box-shadow: 0 6px 18px rgba(0,0,0,0.15);
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
}

.footer-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    font-size: 15px;
    color: #41B0EC;
    padding-bottom: 0px;
}

.logo{
    max-width: 200px;
    width: 55%;
}

.grid-two{
    background: none;
    border: none;
    color: #41B0EC;
}

.button-link{
    background: none;
    border: none;
    color: #41B0EC;
    cursor: pointer;
    text-decoration: underline;
    transition: color 0.2s ease;
}

.button-link:hover{
    color: #1382BE;
}

.btn-cadastro{
    background: linear-gradient(
        140deg,
        rgb(131, 214, 240) 30%, 
        rgb(82, 172, 255) 87%
        );
    border-radius: 15px;
    border: none;
    padding: 5px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    transition: 
        color 0.2s ease,
        transform 0.4s ease;
}

.btn-cadastro:hover{
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
    background: linear-gradient(
        140deg,
        rgb(67, 209, 252) 30%, 
        rgb(30, 146, 255) 87%
        );
}

.footer-last{
    color: #808080;
    font-size: 13px;
    border-top: 1px solid #BEE4F9;
    padding-left: 10px;
    padding-right: 10px;
    padding: 0 10px 10px 10px;
}

/* --------------- PARTE PARA MOBILE --------------- */
@media (max-width: 768px){
    .footer-grid{
        grid-template-columns: 1fr 1fr ;
        padding-bottom: 10px;
    }

    .grid-one, 
    .grid-two{
        padding-bottom: 15px;
    }

    .grid-one{
        padding-left: 8px;
        padding-right: 5px;
    }
}
